@mixin text($size, $bold, $line-height) {
  font-size: $size;
  font-weight: $bold;
  line-height: $line-height;
}

@mixin a_hover($hover-width, $hover-height) {
  content: "";
  position: absolute;
  left: 0px;
  height: $hover-height;
  top: 22px;
  background: black;
  width: $hover-width;
}
%hover_template {
  font-weight: 800;
  background: grey;
  border: darkgray 2px solid;
}
